<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="SGM_GERAL"
         connectionString="ABC"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Certificados NFS-e Nacional (MontaDPS) -->
    <add key="Cert.Emitente3.Path"     value="ABC" />
    <add key="Cert.Emitente3.Password" value="19Moni39" />
    <add key="Cert.Emitente10.Path"    value="ABC" />
    <add key="Cert.Emitente10.Password" value="ABC" />

    <!-- Certificados NFS-e SP Prefeitura (MontaRPSSP) -->
    <add key="Cert.Emitente1.Path"     value="CABC" />
    <add key="Cert.Emitente1.Password" value="ABC" />
    <add key="Cert.Emitente2SP.Path"   value="ABC" />
    <add key="Cert.Emitente2SP.Password" value="ABC" />

    <!-- Certificado NF-e SEFAZ SP (MontaNFESefaz) -->
    <add key="Cert.Sefaz.Path"     value="ABC" />
    <add key="Cert.Sefaz.Password" value="ABC" />

    <!-- Configurações do Serviço -->
    <add key="Service.IntervaloMs"        value="60000" />
    <add key="Service.LogPath"            value="C:\Logs\" />
    <add key="Service.LogRetencaoDias"    value="30" />
    <add key="Service.OnStopTimeoutMs"    value="120000" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>